			{% load core_tags %}
            <!-- About Section -->
							<div class="page pt-about" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<div class="header-page mt-70 mob-mt">
										<h2>درباره من</h2>
										<span></span>
									</div>

                                    {% personal_info %}
                                    {% interest %}
                                    {% services %}
                                    {% testimonials %}
                                    {% pricing_plan %}

								</section>
							</div>
