{% load static core_tags %}


<div class="pt-home" style="background-image: url('{% if setting and setting.home_bg_image %}{{ setting.home_bg_image.url }}{% else %}{% static 'site/img/home-bg.jpg' %}{% endif %}')">
    <section>

        <!-- Banner -->
        <div class="banner">

            <h1>{{ setting.name|default:"نام شما" }}</h1>
            
            <p class="cd-headline rotate-1">
                <span class="cd-words-wrapper">
                    {% if setting.title %}

                        {% for job in setting.title|split_jobs %}

                            <b class="{% if forloop.first %}is-visible{% endif %}">{{ job }}</b>
                        {% endfor %}
                    {% else %}
                        <b class="is-visible">خوش آمدید</b>
                    {% endif %}
                </span>
            </p>
        </div>

        <!-- Language -->
        <div class="lang">
            <ul>
                <li><a href="#" class="active">فارسی</a></li>
            </ul>
        </div>


        <div class="social">
            <ul>
                {% if setting %}

                    {% for link in setting.social_links.all %}
                    <li>
                        <a href="{{ link.url }}" target="_blank">
                            <i class="{{ link.icon_class }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        
    </section>
</div>