							<!-- Home Section -->
							<div class="pt-home" style="background-image: url('/static/site/img/home-bg.jpg')">
								<section>

									<!-- Banner -->
									<div class="banner">
										<h1>جان اسنو</h1>
										<p class="cd-headline rotate-1">
											<span class="cd-words-wrapper">
												<b class="is-visible">توسعه دهنده</b>
												<b>عکاس حرفه ای</b>
												<b>طراح</b>
												<b>فریلنسر</b>
											</span>
										</p>
									</div>

									<!-- Language -->
									<div class="lang">
										<ul>
											<li><a href="index-ripples.html#" class="active">فارسی</a></li>
											<li><a href="index-ripples.html#">انگلیسی</a></li>
										</ul>
									</div>

									<!-- Social -->
									<div class="social">
										<ul>
											<li><a href="index-ripples.html#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="index-ripples.html#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="index-ripples.html#"><i class="fab fa-instagram"></i></a></li>
											<li><a href="index-ripples.html#"><i class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								</section>
							</div>
