{% load core_tags %}
<!-- Portfolio Section -->
<div class="page pt-portfolio" data-simplebar>
    <section class="container">

        <!-- Section Title -->
        <div class="header-page mt-70 mob-mt">
            <h2>نمونه‌کارها</h2>
            <span></span>
        </div>

        <!-- Portfolio Filter Row Start -->
        <div class="row mt-100">
            <div class="col-lg-12 col-sm-12 portfolio-filter">
                <ul>
                    <li class="active" data-filter="*">همه</li>
                    {% for category in categories %}
                        <li data-filter=".{{ category.slug }}">{{ category.name }}</li>

                    {% endfor %}

                </ul>
            </div>
        </div>

        <!-- Portfolio Item Row Start -->
        <div class="row portfolio-items mt-100 mb-100">

            {% for project in projects %}
                <!-- Portfolio Item -->
                <div class="item col-lg-4 col-sm-6 {{ project.category.slug }}">
                    <figure>
                        <img alt="{{ project.title }}" src="{{ project.image.url }}">
                        <figcaption>
                            <h3>{{ project.title }}</h3>
                            <p>{{ project.category.name }}</p><i class="fas fa-image"></i>
                            <a class="image-link" href="{{ project.image.url }}"></a>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}


        </div>
    </section>
</div>
