{% load core_tags %}

<!-- Resume Section -->
<div class="page pt-resume" data-simplebar>
    <section class="container">

        <!-- Section Title -->
        <div class="header-page mt-70 mob-mt">
            <h2>رزومه</h2>
            <span></span>
        </div>

        <div class="row mt-100">
            <!-- Experience Column -->
            <div class="col-lg-6 col-sm-12">
                <div class="header-box mb-50">
                    <h3>سوابق کاری</h3>
                </div>
                {% resume_experience %}
            </div>

            <!-- Education Column -->
            <div class="col-lg-6 col-sm-12">
                <div class="header-box mb-50">
                    <h3>سوابق تحصیلی</h3>
                </div>
                {% resume_education %}
            </div>
        </div>

        <!-- Skills -->
        {% resume_skills %}

        <!-- Work Process -->
        {% resume_work_process %}

    </section>
</div>
