							<!-- Resume Section -->
							<div class="page pt-resume" data-simplebar>
								<section class="container">

									<!-- Section Title -->
									<div class="header-page mt-70 mob-mt">
										<h2>رزومه</h2>
										<span></span>
									</div>

									<!-- Experience & Education Row Start -->
									<div class="row mt-100">

										<!-- Experience Column Start -->
										<div class="col-lg-6 col-sm-12">

											<!-- Header Block -->
											<div class="header-box mb-50">
												<h3>سوابق کاری</h3>
											</div>

											<div class="experience box-1">

												<!-- Experience Item -->
												<div class="item">
													<div class="main">
														<h4>طراحی وب</h4>
														<p><i class="far fa-calendar-alt"></i>1392 - 1394 | شرکت مایکروسافت</p>
													</div>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
												</div>

												<!-- Experience Item -->
												<div class="item">
													<div class="main">
														<h4>توسعه رابط کاربری</h4>
														<p><i class="far fa-calendar-alt"></i>1392 - 1394 | شرکت مایکروسافت</p>
													</div>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
												</div>

												<!-- Experience Item -->
												<div class="item">
													<div class="main">
														<h4>توسعه وب</h4>
														<p><i class="far fa-calendar-alt"></i>1392 - 1394 | شرکت مایکروسافت</p>
													</div>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
												</div>
											</div>
										</div>

										<!-- Education Column Start -->
										<div class="col-lg-6 col-sm-12">

											<!-- Header Block -->
											<div class="header-box mb-50 mob-box-mt">
												<h3>سوابق تحصیلی</h3>
											</div>

											<div class="experience box-2">

												<!-- Education Item -->
												<div class="item">
													<div class="main">
														<h4>دکتری</h4>
														<p><i class="far fa-calendar-alt"></i>1392 - 1394 | علوم کامپیوتر</p>
													</div>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
												</div>

												<!-- Education Item -->
												<div class="item">
													<div class="main">
														<h4>فوق لیسانس</h4>
														<p><i class="far fa-calendar-alt"></i>1394 - 1396 | علوم کامپیوتر</p>
													</div>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
												</div>

												<!-- Education Item -->
												<div class="item">
													<div class="main">
														<h4>فارغ التحصیلی</h4>
														<p><i class="far fa-calendar-alt"></i>1396 - 1398 | علوم کامپیوتر</p>
													</div>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
												</div>
											</div>
										</div>
									</div>

									<!-- Skills Row Start -->
									<div class="row mt-100">

										<!-- Header Block -->
										<div class="col-md-12">
											<div class="header-box mb-50">
												<h3>مهارت ها</h3>
											</div>
										</div>
									</div>

									<div class="box-1 skills">
										<div class="row">
											<div class="col-md-6">

												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">HTML5</h4>
													<div class="progress">
														<div class="progress-bar" style="width:98%">
															<div class="progress-value">98%</div>
														</div>
													</div>
												</div>

												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">CSS3</h4>
													<div class="progress">
														<div class="progress-bar" style="width:85%">
															<div class="progress-value">85%</div>
														</div>
													</div>
												</div>

												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">Javascript</h4>
													<div class="progress">
														<div class="progress-bar" style="width:90%">
															<div class="progress-value">90%</div>
														</div>
													</div>
												</div>

												<!-- Skill Item -->
												<div class="skill-item">
													<h4 class="progress-title">طراح رابط کاربری</h4>
													<div class="progress">
														<div class="progress-bar" style="width:77%">
															<div class="progress-value">77%</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<div class="row">

													<!-- Skill Item -->
													<div class="col-lg-6 col-sm-6 skill-chart">
														<div class="chart" data-percent="80" data-bar-color="#fff"> 80% <p>PHP</p>
														</div>
													</div>

													<!-- Skill Item -->
													<div class="col-lg-6 col-sm-6 skill-chart">
														<div class="chart" data-percent="70" data-bar-color="#fff"> 70% <p>Illustrator</p>
														</div>
													</div>

													<!-- Skill Item -->
													<div class="col-lg-6 col-sm-6 skill-chart">
														<div class="chart" data-percent="60" data-bar-color="#fff"> 60% <p>فتوشاپ</p>
														</div>
													</div>

													<!-- Skill Item -->
													<div class="col-lg-6 col-sm-6 skill-chart">
														<div class="chart" data-percent="90" data-bar-color="#fff"> 90% <p>AngularJS</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Work Process Row Start -->
									<div class="row mt-100">

										<!-- Header Block -->
										<div class="col-md-12">
											<div class="header-box mb-50">
												<h3>پروسه کاری من</h3>
											</div>
										</div>
									</div>

									<div class="box-2 work-process mb-100">
										<div class="row">
											<div class="col-lg-4 col-sm-12 ltr">

												<!-- Working Process Item-->
												<div class="single-wp width-sm process-1">
													<p class="wp-step">01</p>
													<h4 class="wp-title">بررسی ایده</h4>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
												</div>

												<!-- Working Process Item-->
												<div class="single-wp width-sm process-2">
													<p class="wp-step">02</p>
													<h4 class="wp-title">ارائه طرح اولیه</h4>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
												</div>
											</div>

											<div class="col-lg-4 hidden-sm">

												<!-- Working Process Circle-->
												<div class="wp-circle">
													<h4>پروسه کاری</h4>
													<span class="dots top-l"></span>
													<span class="dots bottom-l"></span>
													<span class="dots top-r"></span>
													<span class="dots bottom-r"></span>
												</div>
											</div>

											<div class="col-lg-4 col-sm-12 rtl">

												<!-- Working Process Item-->
												<div class="single-wp width-sm process-3">
													<p class="wp-step">03</p>
													<h4 class="wp-title">طرح اولیه وب</h4>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
												</div>

												<!-- Working Process Item-->
												<div class="single-wp width-sm process-4">
													<p class="wp-step">04</p>
													<h4 class="wp-title">طرح نهایی</h4>
													<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
