								<!-- Price Row Start -->
									<div class="row mt-100 mb-60">

										<!-- Header Block -->
										<div class="col-md-12">
											<div class="header-box mb-90">
												<h3>قیمت ها</h3>
											</div>
										</div>

										<!-- Price Item -->
										<div class="col-lg-4 col-sm-12">
											<div class="price box-1">
												<div class="head-price">
													<i class="fa fa-user"></i>
													<h4>پایه</h4>
												</div>
												<div class="body-price">
													<div class="price-plan">
														<span class="period">ماهانه</span>
														<span class="number">25,000</span>
														<span class="currency">تومان</span>
													</div>
													<div class="list-price">
														<ul>
															<li>طراحی وب</li>
															<li>توسعه وب</li>
															<li class="disable">طراحی واکنشگرا</li>
															<li class="disable">توسعه بازی</li>
														</ul>
													</div>
												</div>
												<div class="footer-price">
													<a href="index-ripples.html#" class="btn-st">هم اکنون بخرید</a>
												</div>
											</div>
										</div>

										<!-- Price Item -->
										<div class="col-lg-4 col-sm-12">
											<div class="price box-2">
												<div class="head-price">
													<i class="fa fa-briefcase"></i>
													<h4>استاندارد</h4>
												</div>
												<div class="body-price">
													<div class="price-plan">
														<span class="period">ماهانه</span>
														<span class="number">40,000</span>
														<span class="currency">تومان</span>
													</div>
													<div class="list-price">
														<ul>
															<li>طراحی وب</li>
															<li>توسعه وب</li>
															<li>طراحی واکنشگرا</li>
															<li class="disable">توسعه بازی</li>
														</ul>
													</div>
												</div>
												<div class="footer-price">
													<a href="index-ripples.html#" class="btn-st">هم اکنون بخرید</a>
												</div>
											</div>
										</div>

										<!-- Price Item -->
										<div class="col-lg-4 col-sm-12">
											<div class="price box-1">
												<div class="head-price">
													<i class="fa fa-globe"></i>
													<h4>طلایی</h4>
												</div>
												<div class="body-price">
													<div class="price-plan">
														<span class="period">ماهانه</span>
														<span class="number">55,000</span>
														<span class="currency">تومان</span>
													</div>
													<div class="list-price">
														<ul>
															<li>طراحی وب</li>
															<li>توسعه وب</li>
															<li>طراحی واکنشگرا</li>
															<li>توسعه بازی</li>
														</ul>
													</div>
												</div>
												<div class="footer-price">
													<a href="index-ripples.html#" class="btn-st">هم اکنون بخرید</a>
												</div>
											</div>
										</div>
									</div>
