			<!-- Service Row Start -->
									<div class="row mt-100">

										<!-- Header Block -->
										<div class="col-md-12">
											<div class="header-box mb-50">
												<h3>خدمات</h3>
											</div>
										</div>

                                        {% for service in services  %}
                                        				<!-- Service Item -->
                                            <div class="col-lg-6 col-sm-6 ">
											<div class="service box-1 mb-40">
												<i class="{{service.icon_class}}"></i>
												<h4> {{service.title}}</h4>
												<p>{{ service.description }}</p>
                                                </div></div>

                                        {% endfor %}



									</div>
