
									<!-- Testimonial Row Start -->
									<div class="row testimonial mt-60">

										<!-- Header Block -->
										<div class="col-md-12">
											<div class="header-box mb-50">
												<h3>دیدگاه مشتریان</h3>
											</div>
										</div>

										<div class="owl-carousel owl-theme">

											<!-- Testimonail Item -->
											<div class="testimonial-item">
												<div class="media">
													<img src="/static/site/img/testimonials/testimonial-1.jpg" alt="">
													<div class="content">
														<h4>تونی استارک</h4>
														<p>توسعه وب</p>
													</div>
													<ul class="rating">
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star"></i></li>
													</ul>
												</div>
												<div class="comment pt-30">
													<p>
														لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
													</p>
												</div>
											</div>

											<!-- Testimonail Item -->
											<div class="testimonial-item">
												<div class="media">
													<img src="/static/site/img/testimonials/testimonial-2.jpg" alt="">
													<div class="content">
														<h4>استیو راجرز</h4>
														<p>طراح رابط کاربری</p>
													</div>
													<ul class="rating">
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star-half"></i></li>
													</ul>
												</div>
												<div class="comment pt-30">
													<p>
														لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
													</p>
												</div>
											</div>

											<!-- Testimonail Item -->
											<div class="testimonial-item">
												<div class="media">
													<img src="/static/site/img/testimonials/testimonial-3.jpg" alt="">
													<div class="content">
														<h4>اولیور کویین</h4>
														<p>طراح رابط کاربری</p>
													</div>
													<ul class="rating">
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star"></i></li>
														<li><i class="far fa-star"></i></li>
													</ul>
												</div>
												<div class="comment pt-30">
													<p>
														لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
													</p>
												</div>
											</div>
										</div>
									</div>
