<!-- All Script -->
	<script src="/static/site/js/jquery.min.js"></script>
	<script src="/static/site/js/isotope.pkgd.min.js"></script>
	<script src="/static/site/js/bootstrap.min.js"></script>
	<script src="/static/site/js/simplebar.js"></script>
	<script src="/static/site/js/owl.carousel.min.js"></script>
	<script src="/static/site/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/site/js/jquery.animatedheadline.min.js"></script>
	<script src="/static/site/js/jquery.easypiechart.js"></script>
	<script src="/static/site/js/jquery.validation.js"></script>
	<script src="/static/site/js/tilt.js"></script>
	<script src="/static/site/js/main.js"></script>

	<!-- Page Script -->
	<script src="/static/site/js/jquery.ripples-min.js"></script>
	<script>
		$('.pt-home').ripples({
			resolution: 1000,
			dropRadius: 15,
			perturbance: 0.02
		});
	</script>

	<script src="/static/site/setting/main-demo.js"></script>
