<!-- CSS Plugins -->
	<link rel="stylesheet" href="/static/site/css/plugins/bootstrap.min.css">
	<link rel="stylesheet" href="/static/site/css/plugins/font-awesome.css">
	<link rel="stylesheet" href="/static/site/css/plugins/magnific-popup.css">
	<link rel="stylesheet" href="/static/site/css/plugins/simplebar.css">
	<link rel="stylesheet" href="/static/site/css/plugins/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/site/css/plugins/owl.theme.default.min.css">
	<link rel="stylesheet" href="/static/site/css/plugins/jquery.animatedheadline.css">

	<!-- CSS Base -->
	<link rel="stylesheet" class="theme-st" href="/static/site/css/style-dark.css">

	<!-- Settings Style -->
	<link rel="stylesheet" class="pos-nav" href="/static/site/css/settings/right-nav.css">
	<link rel="stylesheet" class="box-bd" href="/static/site/css/settings/box/box.css">
	<link rel="stylesheet" class="box-st" href="/static/site/css/settings/box/circle.css">
	<link rel="stylesheet" class="box-tl" href="/static/site/css/settings/title/title.css">
	<link rel="stylesheet" class="style-cl" href="/static/site/css/settings/color/green-color.css">

	<link rel="stylesheet" href="/static/site/setting/style-demo.css">

	<!-- Icon and Color -->
	<link rel="shortcut icon" type="image/png" href="/static/site/img/favicon.png">
